body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
    background-color: #f6f8fa;
}

.main-header {
    background-color: #004466;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.title {
    font-size: 1.2em;
    margin: 5px 0;
}

main {
    margin: 20px;
}

h2 {
    color: #004466;
    border-bottom: 2px solid #004466;
    display: inline-block;
    padding-bottom: 5px;
}

p, ul {
    margin: 10px 0;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    padding: 5px 0;
}

footer {
    background-color: #004466;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .profile-photo {
        width: 120px;
        height: 120px;
    }
}
